{% extends 'shop/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="container my-5" style="max-width: 700px;">
  <div class="card p-4 rounded-4 shadow-sm">
    <h2 class="mb-3" style="color: #3b82f6;">📖 {{ book.title }}</h2>
    <p><strong>✍️ Автор:</strong> {{ book.author.name }}</p>
    <p><strong>🎨 Жанры:</strong> {{ book.genres.all|join:", " }}</p>
    <p><strong>📅 Дата публикации:</strong> {{ book.published_date }}</p>
    <p><strong>💰 Цена:</strong> {{ book.price }} ₸</p>

    <div class="mt-4">
      <a href="{% url 'add_to_cart' book.pk %}" class="btn btn-outline-primary">➕ Добавить в корзину</a>
    </div>
  </div>
</div>
{% endblock %}
