{% extends 'shop/base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container" style="max-width: 450px;">
  <div class="card p-4 shadow-sm rounded-4 mt-5">
    <h2 class="text-center mb-4" style="color: #0363fe;">🔐 Вход</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100">Войти</button>
    </form>
    <div class="text-center mt-3">
      Нет аккаунта? <a href="{% url 'signup' %}" style="color: #0363fe;">Регистрация</a>
    </div>
   </div>
   <hr class="my-3">
   <div class="text-center">
    <a href="/admin/" class="btn btn-outline-warning btn-sm">⚙️ Вход в админку</a>
  </div>
  </div>
</div>
{% endblock %}
