{% extends 'shop/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <div class="card p-4 shadow-sm rounded-4">
    <h2 class="text-center mb-4">📋 Регистрация</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success w-100">Создать аккаунт</button>
    </form>
    <div class="text-center mt-3">
      Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
    </div>
  </div>
</div>
{% endblock %}
